version: '3.7'

services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo_password
      POSTGRES_DB: postgres
    volumes:
      - odoo17-database-data:/var/lib/postgresql/data

  odoo:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "8069:8069"   # Odoo web
      - "8072:8072"   # Odoo longpolling
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: odoo           # deve corrispondere a POSTGRES_USER
      DB_PASSWORD: odoo_password
      ODOO_MASTER_PASSWD: odoo
    volumes:
      - odoo17-web-data:/var/lib/odoo
      - ./src:/opt/odoo/src
      - ./custom_addons:/mnt/extra-addons
      - ./config/odoo.conf:/etc/odoo/odoo.conf

  pgadmin:
    image: dpage/pgadmin4
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@odoo.com
      PGADMIN_DEFAULT_PASSWORD: admin_password
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin-data:/var/lib/pgadmin
      - ./config/pgadmin/servers.json:/pgadmin4/servers.json

volumes:
  odoo17-web-data:
  odoo17-database-data:
  pgadmin-data:
